.idea/
.ipynb_checkpoints/
__pycache__/
data/Animals/
data/old_PascalPart/
data/PennFudanPed_old/
experiments/images/
experiments/models/
experiments/results/
*.docx
/data/
/experiments/old/
/kal/old/
/kal/active_strategies/old/
/old/
/kal/knowledge/cub_rules.txt
/kal/knowledge/dog_rules.txt
/Code.zip
*.weights
*.cfg

