.idea/
.ipynb_checkpoints/
__pycache__/
data/Animals/
data/old_PascalPart/
data/PennFudanPed_old/
images/
experiments/models/
results/
*.docx
/data/
/experiments/old/
/kal/old/
/kal/active_strategies/old/
/old/
